:root {
  --color-primary: #252b42;
  --color-secondary: #38a3f1;
  --color-accent: #ef2779;
  --color-text: #ffffff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: var(--color-text);
  background-color: var(--color-primary);
  line-height: 2.7rem;
}

h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 5rem;
  font-weight: 900;
  line-height: 6.5rem;
}

h2 {
  font-size: 4.6rem;
  line-height: 5.7rem;
}

h3 {
  font-size: 2.2rem;
  line-height: 3.3rem;
}

h4 {
  font-size: 1.6rem;
  line-height: 2rem;
}

h5 {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

@media screen and (min-width: 1024px) {
  h1 {
    text-align: left;
    font-size: 5.5rem;
  }
}

/* Icons */

.fas,
.fab {
  font-size: 2.5rem;
}

.icon--accent {
  color: var(--color-accent);
}

.icon--link:hover {
  color: #ef1b5e;
  transition: color 0.3s;
}

/* Links */

a {
  text-decoration: none;
}

/* Buttons */

.btn {
  border-radius: 40px;
  font-size: 2.2rem;
  border: 0;
  padding: 1rem 3.5rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  margin: 1rem 0;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: #ffffff;
}

.btn--secondary:hover {
  background-color: #3a8ffd;
  transition: background-color 0.3s;
}

.btn--accent {
  background-color: var(--color-accent);
  color: #ffffff;
}

.btn--accent:hover {
  background-color: #ef1b5e;
  transition: background-color 0.3s;
}

.btn--empty {
  background-color: #ffffff;
  color: var(--color-accent);
}

.btn--empty:hover {
  color: #ef1b5e;
  transition: color 0.3s;
}

.btn--small {
  font-size: 1.6rem;
  font-weight: 500;
}

.btn--blocks {
  width: 100%;
  display: inline-block;
}

/* Lists */

.list {
  list-style: none;
}

.list .list__item {
  margin-bottom: 1rem;
}

.list--inline .list__item {
  display: inline;
  margin-right: 2rem;
}

.list__icon .list__item {
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 1.2rem;
  align-items: center;
}

.list__icon .fas,
.list__icon .fab {
  margin-right: 1.5rem;
  width: 2rem;
  text-align: center;
  vertical-align: middle;
}

.list__social .list__item {
  margin-right: 3rem;
}

.list__item a {
  color: inherit;
}

/* Inputs */

.input {
  padding: 1rem 2rem;
  border-radius: 30px;
  border: 1px solid #ccc;
  outline: 0;
  font-size: 1.5rem;
}

.input__blocks {
  width: 100%;
}

::placeholder {
  color: #18171d;
}

/* Cards */

.card {
  border-radius: 7px;
  padding: 5rem;
}

.card--white {
  background-color: #ffffff;
  color: #18171d;
}

.card--gradient {
  background: rgb(238, 39, 121);
  background: linear-gradient(
    33deg,
    rgba(238, 39, 121, 1) 0%,
    rgba(120, 52, 190, 1) 66%
  );
  color: #ffffff;
}

.card__header {
  padding-bottom: 1rem;
}

.card__body {
  padding-top: 1rem;
}

.card__body > p {
  margin: 0;
}

/* Plans */

.plan .card {
  height: 31rem;
  width: 33.5rem;
}

.plan__name {
  margin: 0 0 1rem 0;
}

.plan__price {
  font-size: 5.5rem;
  font-weight: 900;
}

.plan__description {
  margin: 0;
}

.plan__dollar {
  position: relative;
  top: -25px;
  font-size: 2.2rem;
  font-weight: 700;
}

.plan__billing-cycle {
  position: relative;
  right: 15px;
  font-size: 1.2rem;
  font-weight: 700;
}

.plan .card__header {
  padding-bottom: 3rem;
}

.plan .btn {
  margin: 3rem 0 0;
}

/* Grids */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
