<section class="block container block__feature">
  <header class="block__header">
    <h3>At your fingertips</h3>
    <h2>Features</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, minima.
    </p>
  </header>
  <div class="grid grid--1x3">
    <div class="feature">
      <div class="feature__header">
        <div class="feature__image">
          <i class="fas fa-dice-d20 icon--container"></i>
        </div>
        <h3 class="feature__title">The best products start with Sketch</h3>
      </div>
      <div class="feature__body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi vel
          incidunt a non. Neque, maiores.
        </p>
      </div>
    </div>
    <div class="feature">
      <div class="feature__header">
        <div class="feature__image">
          <i class="fas fa-sync icon--container"></i>
        </div>
        <h3 class="feature__title">Fastest way to organize</h3>
      </div>
      <div class="feature__body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi vel
          incidunt a non. Neque, maiores.
        </p>
      </div>
    </div>
    <div class="feature">
      <div class="feature__header">
        <div class="feature__image">
          <i class="fas fa-tools icon--container"></i>
        </div>
        <h3 class="feature__title">Work better together</h3>
      </div>
      <div class="feature__body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi vel
          incidunt a non. Neque, maiores.
        </p>
      </div>
    </div>
  </div>
</section>
