<footer class="block container footer">
  <div class="grid grid--1x3">
    <div class="collapsible">
      <header class="collapsible__header">
        <h3 class="collapsible__heading footer__heading">Pages</h3>
        <i
          class="fas fa-chevron-circle-right icon--white collapsible__chevron"
        ></i>
      </header>
      <div class="collapsible__content footer__list">
        <ul class="list">
          <li class="list__item">Eleanor Edwards</li>
          <li class="list__item">Ted Robertson</li>
          <li class="list__item">Annette Russel</li>
          <li class="list__item">Jennie Mckinney</li>
          <li class="list__item">Gloria Richards</li>
        </ul>
      </div>
    </div>
    <div class="footer__brand">
      <img src="images/cube.png" alt="" />
    </div>
    <div class="footer__lists">
      <ul class="list list__icon">
        <li class="list__item">
          <i class="fas fa-map-marker-alt icon icon--accent"></i>6386 Spring St
          undefined Anchorage, Georgia 12473 Uznited States
        </li>
        <li class="list__item">
          <i class="fas fa-mobile-alt icon icon--accent"></i>(843) 555-0130
        </li>
        <li class="list__item">
          <i class="fas fa-envelope icon icon--accent"></i
          >willie.jennings@example.com
        </li>
      </ul>
      <ul class="list list--inline list__social">
        <li class="list__item">
          <a href=""><i class="fab fa-twitter icon--accent icon--link"></i></a>
        </li>
        <li class="list__item">
          <a href=""
            ><i class="fab fa-instagram icon--accent icon--link"></i
          ></a>
        </li>
        <li class="list__item">
          <a href=""
            ><i class="fab fa-facebook-square icon icon--accent icon--link"></i
          ></a>
        </li>
        <li class="list__item">
          <a href=""
            ><i class="fab fa-linkedin icon icon--accent icon--link"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
