<section class="block block--gradient hero">
  <div class="container">
    <div class="grid grid--1x2">
      <div class="hero__content">
        <h1 class="hero__heading">We focus on Software Development</h1>
        <p class="hero__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, ea.
        </p>
        <button class="btn btn--white">Try for Free</button>
      </div>
      <picture class="hero__image">
        <source
          type="image/webp"
          srcset="images/hero.webp 1x, images/hero@2x.webp 2x"
        />
        <source
          type="image/png"
          srcset="images/hero.jpg 1x, images/hero@2x.jpg 2x"
        />
        <img src="images/hero.jpg" alt="" />
      </picture>
    </div>
  </div>
</section>
