<section class="block container intro">
  <div class="grid grid--1x2">
    <div class="intro__content">
      <h2>Lightning Fast Prototyping</h2>
      <p class="intro__text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae,
        deleniti.
      </p>
      <button class="btn btn--secondary">Try For Free</button>
    </div>
    <picture class="intro__image">
      <source
        type="image/webp"
        srcset="images/code.webp 1x, images/code@2x.jpg 2x"
      />
      <source
        type="image/png"
        srcset="images/code.jpg 1x, images/code@2x.jpg 2x"
      />
      <img src="images/hero.jpg" alt="" />
    </picture>
  </div>
</section>
