<ul class="list list--inline list__social">
  <li class="list__item">
    <a href=""><i class="fab fa-twitter icon--accent icon--link"></i></a>
  </li>
  <li class="list__item">
    <a href=""><i class="fab fa-instagram icon--accent icon--link"></i></a>
  </li>
  <li class="list__item">
    <a href=""
      ><i class="fab fa-facebook-square icon icon--accent icon--link"></i
    ></a>
  </li>
  <li class="list__item">
    <a href=""><i class="fab fa-linkedin icon icon--accent icon--link"></i></a>
  </li>
</ul>

<ul class="list list__icon">
  <li class="list__item">
    <i class="fas fa-map-marker-alt icon icon--accent"></i>6386 Spring St
    undefined Anchorage, Georgia 12473 Uznited States
  </li>
  <li class="list__item">
    <i class="fas fa-mobile-alt icon icon--accent"></i>(843) 555-0130
  </li>
  <li class="list__item">
    <i class="fas fa-envelope icon icon--accent"></i>willie.jennings@example.com
  </li>
</ul>
