<section class="block container block__media">
  <header class="block__header">
    <h2>Partners</h2>
    <p class="block__media__text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis,
      porro?
    </p>
  </header>
  <div class="grid block__media__grid">
    <div class="media">
      <h3 class="media__title">Web Development</h3>
      <div class="media__body">
        <img src="images/web.png" alt="" class="media__image" />
        <p class="media__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus
          provident maiores corporis facere itaque praesentium.
        </p>
      </div>
    </div>
    <div class="media">
      <h3 class="media__title">App Development</h3>
      <div class="media__body">
        <img src="images/app.png" alt="" class="media__image" />
        <p class="media__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus
          provident maiores corporis facere itaque praesentium.
        </p>
      </div>
    </div>
    <div class="media">
      <h3 class="media__title">Multimedia Services</h3>
      <div class="media__body">
        <img src="images/multimedia.png" alt="" class="media__image" />
        <p class="media__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus
          provident maiores corporis facere itaque praesentium.
        </p>
      </div>
    </div>
  </div>
</section>
