<section class="block container block__plan">
  <header class="block__header">
    <h2>Pricing</h2>
    <p class="block__header__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore,
      laboriosam?
    </p>
  </header>
  <div class="grid grid--1x3">
    <div class="plan">
      <div class="card card--white">
        <header class="card__header">
          <h3 class="plan__name">Free</h3>
          <h5 class="plan__description">Lorem ipsum dolor sit amet.</h5>
        </header>
        <div class="card__body">
          <span class="plan__price">0</span>
          <span class="plan__dollar">$</span>
          <span class="plan__billing-cycle">per month</span>
          <button class="btn btn--secondary btn--small btn--blocks">
            Order Now
          </button>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--white">
        <header class="card__header">
          <h3 class="plan__name">STANDARD</h3>
          <h5 class="plan__description">Lorem ipsum dolor sit amet.</h5>
        </header>
        <div class="card__body">
          <span class="plan__price">10</span>
          <span class="plan__dollar">$</span>
          <span class="plan__billing-cycle">per month</span>
          <button class="btn btn--secondary btn--small btn--blocks">
            Order Now
          </button>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--gradient">
        <header class="card__header">
          <h3 class="plan__name">BUISNESS</h3>
          <h5 class="plan__description">Lorem ipsum dolor sit amet.</h5>
        </header>
        <div class="card__body">
          <span class="plan__price">99</span>
          <span class="plan__dollar">$</span>
          <span class="plan__billing-cycle">per month</span>
          <button class="btn btn--empty btn--small btn--blocks">
            Order Now
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
