<section class="block block--blue block__showcase">
  <div class="container">
    <header class="block__header">
      <h2 class="block__showcase__heading">Contact Us</h2>
      <p class="block__showcase__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, quos!
      </p>
    </header>
    <div class="grid grid--1x2">
      <div class="block__showcase__content">
        <ul class="list list--inline list__social">
          <li class="list__item">
            <a href=""
              ><i class="fab fa-twitter icon--accent icon--link"></i
            ></a>
          </li>
          <li class="list__item">
            <a href=""
              ><i class="fab fa-instagram icon--accent icon--link"></i
            ></a>
          </li>
          <li class="list__item">
            <a href=""
              ><i
                class="fab fa-facebook-square icon icon--accent icon--link"
              ></i
            ></a>
          </li>
          <li class="list__item">
            <a href=""
              ><i class="fab fa-linkedin icon icon--accent icon--link"></i
            ></a>
          </li>
        </ul>
        <ul class="list list__icon">
          <li class="list__item">
            <i class="fas fa-map-marker-alt icon icon--accent"></i>6386 Spring
            St undefined Anchorage, Georgia 12473 United States
          </li>
          <li class="list__item">
            <i class="fas fa-mobile-alt icon icon--accent"></i>(843) 555-0130
          </li>
          <li class="list__item">
            <i class="fas fa-envelope icon icon--accent"></i
            >willie.jennings@example.com
          </li>
        </ul>
      </div>
      <div class="input-group">
        <h4 class="input-group__header">Contact Us</h4>
        <div class="input-group__body">
          <input
            type="text"
            class="input input__blocks"
            placeholder="Your Name"
          />
          <input
            type="text"
            class="input input__blocks"
            placeholder="Your Email"
          />
          <input
            type="text"
            class="input input__blocks"
            placeholder="Your Message"
          />
          <button class="btn btn--small btn--accent">
            <a href="#">Send</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
